.picture-1{
  background-image: url(../../assets/img/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40em;
}

.picture-1:hover {
  filter: opacity(.4);
}

.picture-2:hover {
  filter: opacity(.4);
}

.btn-principal {
  color: #fff;
  background: #000;
  border-color: rgb(238, 250, 5);
  text-align: center;
  margin-top: 35em;
  margin-left: 20em;
}

.btn-principal:hover {
  color: #000;
  background-color:rgb(234, 240, 46);

}

#first-modal {

}

#img-logo {
  width: 5em;
  margin-right: 36em;
  margin-top: -16em;
}

.btn-1 {
  color: #fff;
  background: #000;
  border-color: rgb(238, 250, 5);
  text-align: center;
}

.btn-4 {
  color: #fff;
  background: #000;
  border-color: rgb(238, 250, 5);
  text-align: center;
  margin-left: 19em;
  margin-bottom: 1em
}

/* Estos son los estilos de la second-section*/

#second-section {
  background-color: rgb(232, 223, 223);
}

#home-icon {
  color: rgb(238, 250, 5);
  margin-top: 19px;
  margin-right: 10px;
}

a {
  color: #000;
}

#option-second-section {
  margin-top: 3em;
}

#option-2{
  margin-top: 3em;
}

#icon-looking {
  color: rgb(238, 250, 5);
}

/* Aca terminan los estilos de la second-section*/

.picture-2{
background-image: url(../../assets/img/img-3.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 40em;
}
.fondo{
  background-color: #D3D3D3;
}
.user-datos{
 width: 30em;
 margin-left: 6em;
 margin-top: 0.5em;
}
.user{
  color: #3CB371;
  font-size:12em;
  margin-left: 1.1em;
}
.btn-presionar{
  color:white;
  background-color: black;
  width: 30em;
  margin-left: 6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.btn-registar{
  color:white;
  background-color: black;
  width: 30em;
  margin-left: 7em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.forgot{
  text-align: center;
  margin-top: 1em;
}
.click{
  color: red;
}
.input-text{
  width: 30em;
  margin-left: 6em;
  margin-top: 0.5em;
}
.fa-truck{
  font-size: 6em;
  margin-left: 5em;
}
.input-contacto{
  width: 30em;
  margin-left: 6em;
}
.modal-title{
  margin-top: 1em;
  margin-left: 1em;
}
.contacto-2{
  text-align: center;
  margin-bottom: 1em;

}
